# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.so

# =========================
# Virtual Environment
# =========================

venv/
.env/

# =========================
# Environment Variables
# =========================

.env

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Vector DB / Embeddings
# =========================

faiss_ragdb_500/
ragdb_500/

# =========================
# Testing / Coverage
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================

*.log

# =========================
# VSCode / IDE
# =========================

.vscode/
.idea/